.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

path.tick {
	stroke: LightBlue;
	stroke-width: 1;
}

path.volume {
	fill: #cccccc;
}

path.line {
	fill: none;
	stroke: #BF5FFF;
	stroke-width: 1;
}

.extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.crosshair {
	cursor: crosshair;
}

.crosshair path.wire {
	stroke: red;
	stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
	fill: orange;
}